<!doctype html><!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" > <![endif]--><!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" >        <![endif]--><!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" >               <![endif]--><!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- Mirrored from resources.xceptional.com/xceptional-innovation-series-baas-caas-cloud-webinar by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jan 2024 06:30:29 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Xceptional">
    <meta name="description" content="Join Xceptional and other industry experts to learn about back up as a service, compliance as a service and other innovative technologies and trends that are designed to reduce costs, remove risk, and ensure your organization is resilient.">
    <meta name="generator" content="HubSpot">
    <title>Xceptional Innovation Series: BaaS, CaaS, Cloud Webinar</title>
    <link rel="shortcut icon" href="hubfs/fav.webp">
    

    
    <meta property="og:description" content="Join Xceptional and other industry experts to learn about back up as a service, compliance as a service and other innovative technologies and trends that are designed to reduce costs, remove risk, and ensure your organization is resilient.">
    <meta property="og:title" content="Xceptional Innovation Series: BaaS, CaaS, Cloud Webinar">
    <meta name="twitter:description" content="Join Xceptional and other industry experts to learn about back up as a service, compliance as a service and other innovative technologies and trends that are designed to reduce costs, remove risk, and ensure your organization is resilient.">
    <meta name="twitter:title" content="Xceptional Innovation Series: BaaS, CaaS, Cloud Webinar">

    

    
    <style>
a.cta_button{-moz-box-sizing:content-box !important;-webkit-box-sizing:content-box !important;box-sizing:content-box !important;vertical-align:middle}.hs-breadcrumb-menu{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}.hs-breadcrumb-menu-item{float:left;padding:10px 0px 10px 10px}.hs-breadcrumb-menu-divider:before{content:'›';padding-left:10px}.hs-featured-image-link{border:0}.hs-featured-image{float:right;margin:0 0 20px 20px;max-width:50%}@media (max-width: 568px){.hs-featured-image{float:none;margin:0;width:100%;max-width:100%}}.hs-screen-reader-text{clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute !important;width:1px}
</style>


  <style>
  #hs_cos_wrapper_module_16192067363637 hr {
  border:0 none;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(0,0,0,1.0);
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  width:50%;
}

  </style>

    

    
    <link rel="canonical" href="xceptional-innovation-series-baas-caas-cloud-webinar.html">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NVMWQ4L');</script>
<!-- End Google Tag Manager -->
<!-- Crazy Egg Tag -->
<script type="text/javascript" src="../script.crazyegg.com/pages/scripts/0110/8911.js" async></script>
<!-- End Grazy Egg Tag -->
<meta property="og:image" content="https://resources.xceptional.com/hubfs/Thumbnail%20for%20Xceptional%20Innovation_BaaS_CaaS_Cloud%20Q4%202021.png#keepProtocol">
<meta property="og:image:width" content="1081">
<meta property="og:image:height" content="596">
<meta property="og:image:alt" content="Xceptional Innovation Series: BaaS, CaaS, Cloud Webinar">
<meta name="twitter:image" content="https://resources.xceptional.com/hubfs/Thumbnail%20for%20Xceptional%20Innovation_BaaS_CaaS_Cloud%20Q4%202021.png#keepProtocol">
<meta name="twitter:image:alt" content="Xceptional Innovation Series: BaaS, CaaS, Cloud Webinar">

<meta property="og:url" content="https://resources.xceptional.com/xceptional-innovation-series-baas-caas-cloud-webinar">
<meta name="twitter:card" content="summary_large_image">
<meta http-equiv="content-language" content="en">
<link rel="stylesheet" href="../cdn2.hubspot.net/hub/7052064/hub_generated/template_assets/1705696976874/hubspot/hubspot_default/shared/responsive/layout.min.css">


<link rel="stylesheet" href="hs-fs/hub/6853069/hub_generated/template_assets/45777164905/1619209846851/Resources_Landing_Pages/Webinar_Recording.min.css">




</head>
<body class="   hs-content-id-59792662407 hs-landing-page hs-page " style="">
    <div class="header-container-wrapper">
    <div class="header-container container-fluid">


    </div><!--end header -->
</div><!--end header wrapper -->

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_module_161920690538753" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_module_161920690538753_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p class="logo"><a href="https://www.xceptional.com/" rel="noopener" target="_blank"><img src="hs-fs/hubfs/Xceptional-Logo-Transparent87e9.png?width=275&amp;name=Xceptional-Logo-Transparent.png" alt="Xceptional-Logo-Transparent" width="275" loading="lazy" style="width: 275px;" srcset="https://resources.xceptional.com/hs-fs/hubfs/Xceptional-Logo-Transparent.png?width=138&amp;name=Xceptional-Logo-Transparent.png 138w, https://resources.xceptional.com/hs-fs/hubfs/Xceptional-Logo-Transparent.png?width=275&amp;name=Xceptional-Logo-Transparent.png 275w, https://resources.xceptional.com/hs-fs/hubfs/Xceptional-Logo-Transparent.png?width=413&amp;name=Xceptional-Logo-Transparent.png 413w, https://resources.xceptional.com/hs-fs/hubfs/Xceptional-Logo-Transparent.png?width=550&amp;name=Xceptional-Logo-Transparent.png 550w, https://resources.xceptional.com/hs-fs/hubfs/Xceptional-Logo-Transparent.png?width=688&amp;name=Xceptional-Logo-Transparent.png 688w, https://resources.xceptional.com/hs-fs/hubfs/Xceptional-Logo-Transparent.png?width=825&amp;name=Xceptional-Logo-Transparent.png 825w" sizes="(max-width: 275px) 100vw, 275px"></a></p>
<p>&nbsp;</p></span></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_module_16192067363637" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">







<hr></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_module_1619208862285246" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_module_1619208862285246_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h1 style="text-align: center;"><span style="color: #015aa8;">Watch the Recording</span></h1></span></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_module_16192067517599" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-space" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span class="hs-horizontal-spacer"></span></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_module_161920690151351" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_module_161920690151351_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><div class="hs-embed-wrapper" data-service="youtube" data-responsive="true" style="position: relative; overflow: hidden; width: 100%; height: auto; padding: 0; max-width: 850px; max-height: 475px; min-width: 256px; display: block; margin: auto;"><div class="hs-embed-content-wrapper"><div style="position: relative; overflow: hidden; max-width: 100%; padding-bottom: 55.88%; margin: 0px;" data-mce-style="position: relative; overflow: hidden; max-width: 100%; padding-bottom: 55.88%; margin: 0px;"><iframe width="560" height="315" src="https://www.youtube.com/embed/q_vP20Ii-co" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: none;" xml="lang" data-mce-src="https://www.youtube.com/embed/WUBCRfCgGYg" data-mce-style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: none;"></iframe></div></div></div></span></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_module_1619208805592220" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_module_1619208805592220_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p style="text-align: center;"><a href="https://f.hubspotusercontent10.net/hubfs/6853069/XceptionalInnovation-BaaS-CaaS-Cloud-Q4-1.pdf" rel="noopener" target="_blank">Download the Slides</a> | <a href="hubfs/eBook_Whitepapers/Xceptional-Security%26Compliance-as-a-Service-2022.pdf" rel="noopener" target="_blank">Download the eBook</a> | <a href="https://www.xceptional.com/contact-us?hsLang=en&amp;utm_source=webinar&amp;utm_medium=website&amp;utm_campaign=BaaS+CaaS+Cloud+Q4" rel="noopener" target="_blank">Contact Us</a></p></span></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

<div class="footer-container-wrapper">
    <div class="footer-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
<div id="hs_cos_wrapper_module_1619209263819322" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_module_1619209263819322_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><p class="footer" style="text-align: center;">www.xceptional.com</p></span></div>

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end footer -->
</div><!--end footer wrapper -->

    
<!-- HubSpot performance collection script -->
<script defer src="../static.hsappstatic.net/content-cwv-embed/static-1.388/embed.js"></script>
<script>
var hsVars = hsVars || {}; hsVars['language'] = 'en';
</script>

<script src="hs/hsstatic/cos-i18n/static-1.53/bundles/project.js"></script>

<!-- Start of HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "landing-page"]);
_hsq.push(["setCanonicalUrl", "https:\/\/resources.xceptional.com\/xceptional-innovation-series-baas-caas-cloud-webinar"]);
_hsq.push(["setPageId", "59792662407"]);
_hsq.push(["setContentMetadata", {
    "contentPageId": 59792662407,
    "legacyPageId": "59792662407",
    "contentFolderId": null,
    "contentGroupId": null,
    "abTestId": null,
    "languageVariantId": 59792662407,
    "languageCode": "en",
    
}]);
</script>

<script type="text/javascript" id="hs-script-loader" async defer src="hs/scriptloader/6853069.js"></script>
<!-- End of HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    render_id: "826f8735-485c-4d1f-8444-12b56bdfac0b",
    ticks: 1705936851240,
    page_id: 59792662407,
    
    content_group_id: 0,
    portal_id: 6853069,
    app_hs_base_url: "https://app.hubspot.com",
    cp_hs_base_url: "https://cp.hubspot.com",
    language: "en",
    analytics_page_type: "landing-page",
    analytics_page_id: "59792662407",
    category_id: 1,
    folder_id: 0,
    is_hubspot_user: false
}
</script>


<script defer src="hs/hsstatic/HubspotToolsMenu/static-1.191/js/index.js"></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NVMWQ4L" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


    
    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->

</body>
<!-- Mirrored from resources.xceptional.com/xceptional-innovation-series-baas-caas-cloud-webinar by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jan 2024 06:30:29 GMT -->
</html>