<div class="blog-listing-sidebar mb-4">
    <h3 class="text-center py-4 px-3 mb-0">Categories</h3>

    <ul class="nav flex-column my-3">
      <!--            <li class="nav-item mb-0">-->
      <!--              <a href="/newsletter/" title="Newsletters" class="nav-link px-5">Newsletters</a>-->
      <!--            </li>-->
      <li class="nav-item mb-0">
        <a href="blog/index.html" title="Blog" class="nav-link px-5 ">Blog</a>
      </li>
      <li class="nav-item mb-0">
        <a href="checklist/index.html" title="Checklists" class="nav-link px-5 ">Checklists</a>
      </li>
      <li class="nav-item mb-0">
        <a href="e-book/index.html" title="E-books" class="nav-link px-5 ">E-books</a>
      </li>
      <li class="nav-item mb-0">
        <a href="whitepaper/index.html" title="Whitepapers" class="nav-link px-5 ">Whitepapers</a>
      </li>



    </ul>
  </div>