<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="wooden desk with ipad, notebook, a pen, and a pair of glasses on top of desk"
            src="hubfs/XCEPTIONAL%20SOCIAL%20(4).png" class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                Letter from the CEO: August 2023
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2" href="blog/letter-from-the-ceo-august-2023.html">Read Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="Locks to promote compliance" src="hubfs/social-suggested-images/FTC%20Safeguards%20Rule%20(1).png"
            class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                10 Ways an IT Managed Service Provider Assists with FTC Safeguards Rule Compliance
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2"
                href="blog/10-ways-an-it-managed-service-provider-assists-with-ftc-safeguards-rule-compliance.html">Read
                Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="wooden desk with ipad, notebook, a pen, and a pair of glasses on top of desk"
            src="hubfs/XCEPTIONAL%20SOCIAL%20(4).png" class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                Letter from the CEO: April 2023
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2" href="blog/letter-from-the-ceo-april-2023.html">Read Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="How can managed IT services help you grow your small business?" src="hubfs/xceptional_SG1_march-1.png"
            class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                [Infographic]&nbsp;5 Benefits of Managed IT Services for Small Businesses
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2"
                href="blog/infographic-5-benefits-of-managed-it-services-for-small-businesses.html">Read
                Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="" src="hubfs/social-suggested-images/xceptional_blog_hipaacompliance.png" class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                What Are the Basics of HIPAA Compliance?
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2" href="blog/what-are-the-basics-of-hipaa-compliance.html">Read
                Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="wooden desk with ipad, notebook, a pen, and a pair of glasses on top of desk"
            src="hubfs/XCEPTIONAL%20SOCIAL%20(4).png" class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                Letter from the CEO: December 2022
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2" href="blog/letter-from-the-ceo-december-2022.html">Read Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt=" Is your network under attack?" src="hubfs/xceptional_blog_upcity.jpg" class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                3 Basic Steps to Mitigate Loss During a Cyber Security Attack
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2"
                href="blog/3-basic-steps-to-mitigate-loss-during-a-cyber-security-attack.html">Read Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="wooden desk with ipad, notebook, a pen, and a pair of glasses on top of desk"
            src="hubfs/XCEPTIONAL%20SOCIAL%20(4).png" class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                Letter from the CEO: September 2022
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2" href="blog/letter-from-the-ceo-september-2022.html">Read Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="cyber insurance: why small businesses need coverage too" src="hubfs/cobrand_Mon_Aug_29_2022%20(1).png"
            class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                [Infographic] Cyber Insurance and Why Your Small Business Needs Coverage
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2" href="blog/cyber-insurance-and-why-your-small-business-needs-coverage.html">Read
                Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="cyber insurance: are you sure that you are fully covered?" src="hubfs/Cyber%20Insurance%20Graphic.png"
            class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                How An IT Managed Service Provider Can Help With Cyber Insurance
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2"
                href="blog/how-an-it-managed-service-provider-can-help-with-cyber-insurance.html">Read
                Article</a>
        </div>
    </div>
</div>




<div class="col mb-4">
    <div class="card blog-listing-card h-100 rounded-0">
        <img alt="Does your business have the right IT solutions to comply with HIPAA? Find out with Xceptional."
            src="hubfs/xceptional_blog_hipaarequirements.png" class="card-img-top">
        <div class="card-header bg-transparent border-0">
            blog
        </div>

        <div class="card-body py-0">

            <h2 class="blog-post-title">
                What Does Your Business Need to Meet HIPAA Compliance Requirements?
            </h2>

        </div>
        <div class="card-footer bg-transparent border-0 text-center">
            <a class="btn btn-x mb-2"
                href="blog/what-does-your-business-need-to-meet-hipaa-compliance-requirements.html">Read
                Article</a>
        </div>
    </div>
</div>