<div class="d-flex justify-content-center my-5">

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">


                <li class="active-page" s>
                    <a href="index7201.html?page_num=1" class="page-link active">1</a>
                </li>

                <li class="">
                    <a href="indexc865.html?page_num=2" class="page-link ">2</a>
                </li>

                <li class="">
                    <a href="index2fdc.html?page_num=3" class="page-link ">3</a>
                </li>

                <li><a href="indexc575.html?page=6" class="page-link">…</a></li>
                <li class="page-item"><a href="index9683.html?page=18" class="page-link ">18</a></li>

            </ul>
        </nav>
    </div>

</div>